<!--<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation white" role="navigation">
    <div ng-include="'/components/navbar/navbar.html'"></div>
</div>
<div class="container secondaryTemplate">
    <div class="row">
        <div class="col-sm-12">
            <h2>Change Password</h2>
        </div>
        <div class="col-sm-12 col-md-6">
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

                <div class="form-group">
                    <label>Current Password</label>

                    <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </p>
                </div>

                <div class="form-group">
                    <label>New Password</label>

                    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                    <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>

                <p class="help-block"> {{ message }} </p>

                <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>-->


<!-- Overlay Div -->
<!--<div id="overlay" class="transparent">
</div>-->

<div id="wrapper" class="preload" ng-controller="DashboardCtrl">

    <!-- =========================
     SECTION: TOP NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/topNav/topNav.html'"></div>


    <!-- =========================
     SECTION: LEFT NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/leftNav/leftNav.html'"></div>


    <div id="main-container">
        <div id="breadcrumb">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html"> Home</a>
                </li>
                <li class="active">Settings</li>
            </ul>
        </div>
        <!-- /breadcrumb-->
        <div class="main-header clearfix">
            <div class="page-title">
                <h3 class="no-margin">Settings</h3>
            </div>
            <!-- /page-title -->
        </div>
        <!-- /main-header -->

        <div class="padding-md">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h2>Change Password</h2>
                    <form ng-controller="SettingsCtrl" class="form" name="form" ng-submit="changePassword(form)" novalidate>

                        <div class="form-group">
                            <label>Current Password</label>

                            <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
                            <p class="help-block" ng-show="form.password.$error.mongoose">
                                {{ errors.other }}
                            </p>
                        </div>

                        <div class="form-group">
                            <label>New Password</label>

                            <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                            <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                                Password must be at least 3 characters.
                            </p>
                        </div>

                        <p class="help-block"> {{ message }} </p>

                        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-md-6">

                </div>

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /main-container -->
    <!-- Footer
		================================================== -->
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <p class="no-margin">
                    &copy; 2015 <strong>JRNY</strong>. ALL Rights Reserved.
                </p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row-->
    </footer>
</div>
<!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Pace -->
<script src='../../../assets/endless/js/endless/pace.min.js'></script>

<!-- Endless -->
<script src="../../../assets/endless/js/endless/endless.js"></script>