<!-- Overlay Div -->
<!--<div id="overlay" class="transparent">
</div>-->

<div id="wrapper" class="preload sidebar-hide" ng-controller="AccountCtrl">

    <!-- =========================
     SECTION: TOP NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/topNav/topNav.html'"></div>


    <!-- =========================
     SECTION: LEFT NAVIGATION
    ============================== -->
    <div ng-include="'/components/account/leftNav/leftNav.html'"></div>


    <div id="main-container" ng-cloak>
        <!-- /breadcrumb-->
        <div class="row">
            <div class="col-md-1 col-sm-12"></div>
            <div class="col-md-10">
                <h4>Your Itinerary for {{getCurrentUser().homeTown.formatted_address}}</h4>
            </div>
        </div>
        <!-- /main-header -->

        <div class="row text-center" style="background-color:#999999;color:#EEEEEE">
            <a href="/itinerary-view/{{m_builder._id}}/{{dt.toISOString().substr(0, 10)}}" class="btn" ng-repeat="dt in dt_str_list track by $index" class="row" style="margin:5px 5px 5px 5px">{{week_name[dt.getDay()] + ", " + month_name[dt.getMonth()].substr(0, 3) + " " + dt.getDate()}}</a>
        </div>
        <!-- /grey-container -->

        <div class="padding-md row">
            <div class="row">
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-10 col-sm-12 text-right">
                    <a href="/traveler-itinerary/{{m_builder._id}}" class="btn btn-danger">Return to Itinerary</a>                    
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-10 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row" ng-repeat="act in m_activity" style="margin-bottom:15px">
                                <div class="col-md-3 col-sm-12 text-right">
                                    <h5>{{act.time}}:00 - {{act.ltime}}:00</h5>
                                    <h3 style="color:#6CBFEE">{{act.duration}} Hours</h3>
                                </div><!--#3994CB-->
                                <div class="col-md-9 col-sm-12 edit_itinerary_box" style="padding:0px 15px 15px 15px;">
                                    <h3>{{act.activity_name}}</h3>
                                    <div style="border-top:1px solid #EEEEEE;padding-top:10px">{{act.suggestion}}</div>
                                </div>
                            </div>
                            <div ng-show="m_activity==null" class="row">
                                <div class="col-md-3 col-sm-12"></div>
                                <div class="col-md-9 col-sm-12 text-center edit_itinerary_box">
                                    <h3>No Activity</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div map-lazy-load="http://maps.google.com/maps/api/js">
                              <map center="41,-87" zoom="3" style="height:450px"></map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /main-container -->
    <!-- Footer ================================================== -->
    <div ng-include="'/components/account/footer/footer.html'"></div>

</div>
<!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Pace -->
<script src='../../../assets/endless/js/endless/pace.min.js'></script>

<!-- Endless -->
<script src="../../../assets/endless/js/endless/endless.js"></script>